### PART 1: Lists and Loops

# 1) Create a list with the names of the top 10 CO₂ emitting countries (in order by total emissions)

In [6]:
l = ['China', 'United States', 'India', 'Russia', 'Japan', 'Iran', 'Indonesia', 'Saudia Arabia', 'South Korea', 'Germany']
l

['China',
 'United States',
 'India',
 'Russia',
 'Japan',
 'Iran',
 'Indonesia',
 'Saudia Arabia',
 'South Korea',
 'Germany']

# 2) Have Python tell you how many countries there are by examining your list

In [7]:
print(len(l))

10

# 3) Use slicing to display the first three countries (the top emitters)

In [8]:
top_three = l[0:3]
print(top_three)

['China', 'United States', 'India']

# 4) Iterate through your countries and print the country name only if it has an a in the name

In [9]:
print("Countries with an 'a' in their name:")
for country in l:
    # Check for 'a' (lowercase) or 'A' (uppercase) 
    if 'a' in country.lower():
        print(country)

Countries with an 'a' in their name:
China
United States
India
Russia
Japan
Iran
Indonesia
Saudia Arabia
South Korea
Germany

### PART 2: Dictionaries

# 1) Now create a dictionary that maps each country name to its annual CO₂ emissions

In [12]:

countries_emsdict = {
    'China': '13124.70', 
    'United States': '4632.16', 
    'India': '3153.83', 
    'Russia': '2009.15', 
    'Japan': '972.27', 
    'Iran': '828.99', 
    'Indonesia': '652.51', 
    'Saudia Arabia': '614.15', 
    'South Korea': '588.01', 
    'Germany': '579.94'
}
countries_emsdict

{'China': '13124.70',
 'United States': '4632.16',
 'India': '3153.83',
 'Russia': '2009.15',
 'Japan': '972.27',
 'Iran': '828.99',
 'Indonesia': '652.51',
 'Saudia Arabia': '614.15',
 'South Korea': '588.01',
 'Germany': '579.94'}

# 2) Use your dictionary to look up the United States’ emissions

In [13]:
us_emissions = countries_emsdict['United States']

print(f"The United States' emissions are: {us_emissions}")

The United States' emissions are: 4632.16

# 3) Loop through the data and create a list of countries whose emissions are greater than 1,000 million metric tons per year

In [14]:
high_emitters = []

for country, amount in countries_emsdict.items():
    # Convert the string amount to a decimal number (float) to compare it
    if float(amount) > 1000:
        high_emitters.append(country)

print(high_emitters)

['China', 'United States', 'India', 'Russia']

# 4) Now add Brazil to your dictionary

In [17]:
countries_emsdict = {
    'China': '13124.70', 
    'United States': '4632.16', 
    'India': '3153.83', 
    'Russia': '2009.15', 
    'Japan': '972.27', 
    'Iran': '828.99', 
    'Indonesia': '652.51', 
    'Saudia Arabia': '614.15', 
    'South Korea': '588.01', 
    'Germany': '579.94',
    'Canada': '577.97',
    'Brazil': '491.47'
}
countries_emsdict

{'China': '13124.70',
 'United States': '4632.16',
 'India': '3153.83',
 'Russia': '2009.15',
 'Japan': '972.27',
 'Iran': '828.99',
 'Indonesia': '652.51',
 'Saudia Arabia': '614.15',
 'South Korea': '588.01',
 'Germany': '579.94',
 'Canada': '577.97',
 'Brazil': '491.47'}

### Part 3: Functions

# 1. Write a function to convert temperature from kelvin to celsius

In [69]:
def kelvin_to_celsius(k):
    celsius = k - 273.15
    return celsius

In [76]:
kelvin_to_celsius(300)

26.850000000000023

### and celsius to kelvin

In [77]:
def celcius_to_kelvin(c):
    kelvin = c + 273.15
    return kelvin

In [78]:
celcius_to_kelvin(30)

303.15

# 2. Write a function to convert temperature to fahrenheit

In [30]:
### Include an optional keyword argument to specify whether the input is in celcius or kelvin. 
### Call your previously defined functions if necessary.

In [87]:
# Define missing conversion, C to F
def celsius_to_fahrenheit(c):
    return (c * 9/5) + 32

# Main Function
def convert_to_fahrenheit(temp, unit='celsius'):
    if unit.lower() == 'kelvin':
        # Call your previously defined function from #1
        c_temp = kelvin_to_celsius(temp)
        # Then convert that result to fahrenheit
        return celsius_to_fahrenheit(c_temp)
    else:
        # If it's already celsius, just convert it directly
        return celsius_to_fahrenheit(temp)

# 3) Check that the outputs are sensible

In [94]:
#Test the code - GOOD TO GO!
convert_to_fahrenheit(0)

32.0

In [91]:
convert_to_fahrenheit(273.15, unit='kelvin')

32.0

In [92]:
convert_to_fahrenheit(100)

212.0

# 4) Now write a function that converts from farenheit

In [93]:
# and uses a keyword argument to specify whether you want the output in celcius or kelvin

In [101]:
# Conversion F to C
def fahrenheit_to_celsius(f):
    return (f - 32) * 5/9

# Main function
def convert_from_fahrenheit(temp, output_unit='celsius'):
    # Convert to C
    c_val = fahrenheit_to_celsius(temp)
    
    if output_unit.lower() == 'kelvin':
        # Convert from C to K
        return celcius_to_kelvin(c_val)
    else:
        # Default return Celsius
        return c_val

In [108]:
print(f"32°F in Celsius: {convert_from_fahrenheit(32)}")

32°F in Celsius: 0.0

In [107]:
print(f"32°F in Kelvin: {convert_from_fahrenheit(32, output_unit='kelvin')}")

32°F in Kelvin: 273.15

# 5) Write a function that takes two arguments (feet and inches) and returns height in meters

In [109]:
### Verify it gives sensible answers

In [ ]:
### The math (do not run)
1 inch=0.0254 meters
1 foot=12 inches

In [110]:
def height_to_meters(feet, inches):
    # Convert feet to inches, add to inches
    total_inches = (feet * 12) + inches
    
    # Convert inches to meters
    meters = total_inches * 0.0254
    return meters

In [115]:
### Test conversion - GOOD
# 1: 5'0" (60 inches) = 60 * 0.0254 = 1.524 meters
print(f"5'0\" in meters: {height_to_meters(5, 0):.2f}m")

5'0" in meters: 1.52m

In [120]:
# 2: 6'2" (74 inches) = 74 * 0.0254 = 1.8796 meters
print(f"6'2\" in meters: {height_to_meters(6, 2):.2f}m")

6'2" in meters: 1.88m

# 6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

In [118]:
### (Consult the tutorial on numbers if you are stuck on how to implement this.)

In [121]:
### Working in reverse
def meters_to_feet_inches(meters):
    #Convert meters to inches
    total_inches = meters / 0.0254
    
    #Whole feet (use // for floor division that discards the fractional part)
    feet = int(total_inches // 12)
    
    #Calculate remaining inches (using % as the operator that returns the remainder of the division)
    inches = total_inches % 12
    
    return feet, inches

# 7) Verify that the “round trip” conversion from and back to meters is consistent

In [127]:
### Test Conversion - GOOD

# 1. 1.8288 meters (6'0")
f, i = meters_to_feet_inches(1.8288)
print(f"1.8288m is {f} feet, {i:.0f} inches")

1.8288m is 6 feet, 0 inches

In [128]:
# 2. 1.6 meters (typical height)
f, i = meters_to_feet_inches(1.6)
print(f"1.6m is {f} feet, {i:.0f} inches")

1.6m is 5 feet, 3 inches

In [131]:
# 3. 2.1 meters 
f, i = meters_to_feet_inches(2.1)
print(f"2.10m converts to: {f}' {i:.0f}\"")

2.10m converts to: 6' 11"